body{
	background-color: #FFE6E6;
}

h1{
	font-family: cursive;
	font-size: 12px;
}

div px{

	font-family: cursive;
	font-size: 16px;
  	margin-bottom: 10px

}

nav{

	background-color: #7469b6;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	border: 0,5px solid;
	overflow: auto;
	
}

nav ul{
	
	list-style-type: none;
	text-align-last:center ;
	display: flex;
	justify-content: flex-start;
	
}
nav li{
	margin-right: 100px

}
nav ul li a{
	text-decoration:none;
    color: white;
    font-family: cursive;
    font: bolder;
    font-size:13px;
}

nav ul li a:hover {
    color: #ffcc00; /* Warna saat hover */

}

.conteiner {
	border: 1px solid;
	border-color: black;
	background-color:#e1afd1;
	padding: 20px;
	max-width: 800px;
}


/* Mengatur font-family untuk semua paragraf di dalam elemen dengan ID content */
#content p {
    font-family: cursive;
    font-size: 12px; /* Ukuran font */
    line-height: 1.5; /* Spasi antar baris */
    color: #ffffff; /* Warna teks */
    
    
   
}

