<title>coming soon page</title>
<link rel="stylesheet" href="static/css/styles4.css">
<script src="https://cdn.tailwindcss.com"></script>

<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.5)), url('static/image/gambar4.jpg'); background-size: cover; background-position: center;">

		<div class="flex justify-center items-center h-screen">
			<div class="bg-stone-400 bg-opacity-25 w-[400px] h-[200px] border-2 border-white rounded-xl drop-shadow-xl">
				<!-- <p class="transform translate-y-40 items-center m-5 p-5 text-center">coming soon babe💕</p> -->
				<p class="text-center m-5 p-5">coming soon babe💕</p>
        		<a href="Valeria.html" class="text-center hover:text-blue-300">⬅️ kembali</a>
			</div>
		</div>
		
</body>
	