<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>cobain</title>
</head>
<body>
	<div class="image-container p-4">
		<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 justify-center items-center">
			<!-- Setiap gambar akan menempati satu kolom dari grid yang adaptif -->
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/4.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/5.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/6.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/7.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/8.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/9.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/10.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/11.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/12.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/13.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/14.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/15.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/16.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/17.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/18.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/19.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/20.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/21.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/22.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/23.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/24.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/25.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/26.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/27.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/28.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/29.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/30.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/31.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/32.png" alt="png">
			<img class="photo w-full h-auto object-cover rounded-lg" src="static/image/33.png" alt="png">
		</div>
	</div>
	
</body>
</html>