<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2025</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<h1>2025</h1>
	<nav class = "navbar">
		<ul><ol><a href="Valeria.html">back to home</a></ol></ul>
		<ul><ol><a href="halaman2024.html">back to 2024</a></ol></ul>

	</nav>
	<div class = "justify-between "></div>
		<nav class = "border-radius-4px border-bg-blue-900 ">
			<ul>
				<li><a href = "halaman2024.html">2024</a></li>
				<li><a href = "halaman2025.html">2025</a></li>
				<li><a href = "halaman2026.html">2026</a></li>
				<li><a href = "halaman2027.html">2027</a></li>
				<li><a href = "halaman2028.html">2028</a></li>
				<li><a href = "halaman2029.html">2029</a></li>
				<li><a href = "halaman2030.html">2030</a></li>
				<li><a href = "halaman2031.html">2031</a></li>
				<li><a href = "halaman2032.html">2032</a></li>
				<li><a href = "halaman2033.html">2033</a></li>
			</ul>
		</nav>
	</div>
	
	<div class = "main">
		<br><br><br>
		<section class="contents">
			<div class ="conteiner">
				<div id ="content0" class="" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<h1>halo sayangkuu 💕</h1>
					<p>apa kabarnya? ini adalah website yang aku buat untuk kamu...
					ini yang aku sebut proyek pribadi, HAHAHA, makanya aku ga mau kamu tau
					website ini akan terus aku update, 3 bulan lebih,1 tahun, 2 tahun, dan seterusnya.
					website ini khusus buat kamu, dan semua foto foto kita, foto kamu maupun aku, kenangannya akan aku taruh disini.</p>
				</div>
	
				<div id="content1" class="content" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<p>aku ga pernah nyangka, Tuhan akan mengirim Aphrodite ke dalam hidupku
					dan melangkah ke tahun berikutnya Bersama.
					setiap tutur katamu, tawamu, dan matamu yang selalu kupandang; senyummu, bahkan semua tentangmu
					membuat aku selalu tersneyum. semua kebahagiaan yang sudah kita lalui ini, membuat aku yakin
					Tuhan mengirimmu untuk melengkapi ku, dan untuk memberikan warna baru dalam lembar kehidupanku.</p>
				</div>
	
				<div id ="content2" class="content" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<p>aku sudah punya mama sebagai Wanita yang sudah membesarkan aku,
					dan mengajarkan aku untuk menjadi seorang pria yang mengerti Wanita.
					adik perempuan, yang buat aku berlajar bagaimana caranya memeperlakukan Wanita.
					dan kini kamu hadir, mengajarkan aku arti cinta sesungguhnya, mengajarkan
					aku untuk menerimamu apa adanya, mengajarkan aku untuk senantiasa tersenyum
					dan berterimakasih pada Tuhan karena telah menciptakan manusia se-indah mu</p>
				</div>
	
				<div id ="content3" class="content" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<p>selama 3 bulan lebih ini, aku selalu berdoa untuk hubungan ini, untuk kamu ,dan untuk aku.
					aku bersyukur punya dan menjalin hubungan ini, hubungan yang buat aku selalu tersenyum saat senja,
					saat malam,saat subuh, dan saat fajar. darimu aku merasakan kesungguhan alam hubungan ini, yang dikirim Tuhan
					untuk menjaga hatiku, menjaga cinta dan memupuknya.</p>
				</div>
	
				<div id ="content4" class="content" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<p>banyak masalah juga yang sudah kita lalui, mulai dari awal hingga mungkin nanti, aku mau tetap seperti itu, menyelesaikan
					masalah dengan komunikasi baik baik. sekali lagi, makasih sudah hadir, sudah mau membuka pintu buat aku masuk, sudah berani untuk
					membuka pintu hatiku.</p>
				</div>
	
				<div id ="content5" class="content" style="border: 2.5px solid;background-color:#e1afd1;padding: 20px;max-width: 800px;border-radius: 20px;">
					<p>mari kita melangkah Bersama menuju 1 tahun</p> 
						<a href="http://ristek.link/linkapenih" style = "text-decoration:none; color: white; font-family: cursive;">i love you lim x
</body>
</html>