<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hallo Valeria</title>
	<link rel="stylesheet" href="static/css/styles4.css">
	<script src="static/js/srcipts.js"></script>
	<script src="https://cdn.tailwindcss.com">
	</script>
</head>
<body  style="background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.5)), url('static/image/background.jpg'); background-size: cover; background-position: center;">
	
	<!-- login  -->

	<!-- {for keys in key}

		{if not valeria}
			<div>
				<p>kamu bukan valeria atau paswordnya salah</p>
			</div>

	

		{else} -->


    <!-- navbar -->
	<div>
        <nav class="slideInY">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <!-- Logo and Site Title -->
                    <div class="flex items-center">
                        <h1 class="text-2xl font-bold text-center text-white">
                            <a href="aboutThisWeb.html" class="text-2xl font-bold text-center text-white">Hallo Valeria</a>
                        </h1>
                    </div>

                    <!-- Desktop Menu -->
                    <div class="hidden md:flex items-center space-x-4">
                        <a href="coming_soon.html" class="text-white px-4 py-2 rounded-full hover:bg-pink-400 transition duration-300">Gallery</a>
						<a href="aboutThisWeb.html" class="text-white px-4 py-2 rounded-full hover:bg-pink-400 transition duration-300">About</a>
                    </div>

                    <!-- Mobile Menu Button -->
                    <div class="md:hidden flex items-center">
                        <button class="mobile-menu-button">
                            <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu (hidden by default) -->
            <div class="mobile-menu hidden md:hidden text-white text-center " >
				<a href="coming_soon.html" class="block px-4 py-2 rounded-full hover:bg-pink-400 transition duration-300">Gallery</a>
				<a href="aboutThisWeb.html" class="text-white px-4 py-2 rounded-full hover:bg-pink-400 transition duration-300">About</a>
            </div>
        </nav>
    </div>
	<script>
        const btn = document.querySelector('.mobile-menu-button');
        const menu = document.querySelector('.mobile-menu');

        // Event listener untuk tombol mobile menu
        btn.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    </script>

	<!-- konten -->

	<div class="grid flex justify-center items-center h-screen slideInY">
		<section class="contents">
			<div class="container  p-5 max-w-2xl mx-auto border-2 border-white rounded-xl bg-pink-500 bg-opacity-25 relative">
				<div class="praf">
					<p id="content"></p>
					<!-- <audio id="audio-player" src="static/music/Ikimonogakari - BAKU.flac" type="audio/flac" class="mt-4" controls></audio> -->
				</div>
				<!-- Tombol di tengah bawah dari container -->
				<button type="button" onclick='document.getElementById("content").innerHTML=showMessage()' 
					class="inline-flex bottom-[-40px] left-1 transform -translate-x-1/9 w-16 h-16 bg-[url('static/image/button-image.png')] bg-cover">
				</button>
			</div>
			
		</section>
	</div>






	<!-- gallery -->


	<!-- <div class="bg-white" style="border-width:15px; border-radius: 45px; border-color: white; max-width: 1000px; margin:auto;">
		<div class="n\" style="position:auto; text-align: center;">
			<h1 class="text-gray-900">MY MEMORY OF YOU</h1>
		</div>
		<br>
		<div class="image-container">
			<div clas="w-2/9" style="right: auto; overflow-x: auto; white-space: nowrap;max-width: 1000px; margin:auto;">
				<div clas="w-2/9" style="display: inline-flex; ">
					<img class="photo" src="image/4.png" alt="png" >
					<img class="photo" src="image/5.png" alt="png"  >
					<img class="photo" src="image/6.png" alt="png" >
					<img class="photo" src="image/7.png" alt="png" >
					<img class="photo" src="image/8.png" alt="png" >
					<img class="photo" src="image/9.png" alt="png" >
					<img class="photo" src="image/10.png" alt="png" >
					<img class="photo" src="image/11.png" alt="png" >
					<img class="photo" src="image/12.png" alt="png" >
					<img class="photo" src="image/13.png" alt="png" >
					<img class="photo" src="image/14.png" alt="png" >
					<img class="photo" src="image/15.png" alt="png" >
					<img class="photo" src="image/16.png" alt="png" >
					<img class="photo" src="image/17.png" alt="png" >
					<img class="photo" src="image/18.png" alt="png" >
					<img class="photo" src="image/19.png" alt="png" >
					<img class="photo" src="image/20.png" alt="png" >
					<img class="photo" src="image/21.png" alt="png" >
					<img class="photo" src="image/22.png" alt="png" >
					<img class="photo" src="image/23.png" alt="png" >
					<img class="photo" src="image/24.png" alt="png" >
					<img class="photo" src="image/25.png" alt="png" >
					<img class="photo" src="image/26.png" alt="png" >
					<img class="photo" src="image/27.png" alt="png" >
					<img class="photo" src="image/28.png" alt="png" >
					<img class="photo" src="image/29.png" alt="png" >
					<img class="photo" src="image/30.png" alt="png" >
					<img class="photo" src="image/31.png" alt="png" >
					<img class="photo" src="image/32.png" alt="png" >
					<img class="photo" src="image/33.png" alt="png" >
				</div>
			</div>
		</div>
	</div> -->
	

	
	
</body>
</html>