<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hallo Valeria</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>

	<img src="image/fotoweb.png">

	<nav class = navbar>
		<ul>
			<li><a href = "halaman2024.html">2024</a></li>
			<li><a href = "halaman2025.html">2025</a></li>
			<li><a href = "halaman2024.html">2026</a></li>
			<li><a href = "halaman2025.html">2027</a></li>
			<li><a href = "halaman2024.html">2028</a></li>
			<li><a href = "halaman2025.html">2029</a></li>
			<li><a href = "halaman2024.html">2030</a></li>
			<li><a href = "halaman2025.html">2031</a></li>
			<li><a href = "halaman2024.html">2032</a></li>
			<li><a href = "halaman2025.html">2033</a></li>
		</ul>
	</nav>

	<section class="contents">
		<div class ="conteiner">
			<div id ="content">
				<h1>halo sayangkuu 💕</h1>
				<p>apa kabarnya? ini adalah website yang aku buat untuk kamu...</p>
				<p>ini yang aku sebut proyek pribadi, HAHAHA, makanya aku ga mau kamu tau</p> 
				<p>website ini akan terus aku update, 3 bulan lebih,1 tahun, 2 tahun, dan seterusnya.
				<p>website ini khusus buat kamu, dan semua foto foto kita, foto kamu maupun aku, kenangannya akan aku taruh disini.</p>
			</div>

			<div id="content">
				<p>aku ga pernah nyangka, Tuhan akan mengirim Aphrodite ke dalam hidupku</p> 
				<p>dan melangkah ke tahun berikutnya Bersama.</p>
				<p>setiap tutur katamu, tawamu, dan matamu yang selalu kupandang; senyummu, bahkan semua tentangmu</p>
				<p>membuat aku selalu tersneyum. semua kebahagiaan yang sudah kita lalui ini, membuat aku yakin</p>
				<p>Tuhan mengirimmu untuk melengkapi ku, dan untuk memberikan warna baru dalam lembar kehidupanku.</p>
			</div>

			<div id ="content">
				<p>aku sudah punya mama sebagai Wanita yang sudah membesarkan aku,</p>
				<p>dan mengajarkan aku untuk menjadi seorang pria yang mengerti Wanita.</p>
				<p>adik perempuan, yang buat aku berlajar bagaimana caranya memeperlakukan Wanita.</p>
				<p>dan kini kamu hadir, mengajarkan aku arti cinta sesungguhnya, mengajarkan</p>
				<p>aku untuk menerimamu apa adanya, mengajarkan aku untuk senantiasa tersenyum</p>
				<p>dan berterimakasih pada Tuhan karena telah menciptakan manusia se-indah mu</p>
			</div>

			<div id ="content">
				<p>selama 3 bulan lebih ini, aku selalu berdoa untuk hubungan ini, untuk kamu ,dan untuk aku.</p>
				<p>aku bersyukur punya dan menjalin hubungan ini, hubungan yang buat aku selalu tersenyum saat senja,</p>
				<p>saat malam,saat subuh, dan saat fajar. darimu aku merasakan kesungguhan alam hubungan ini, yang dikirim Tuhan</p>
				<p>untuk menjaga hatiku, menjaga cinta dan memupuknya.
			</div>

			<div id ="content">
				<p>banyak masalah juga yang sudah kita lalui, mulai dari awal hingga mungkin nanti, aku mau tetap seperti itu, menyelesaikan
				<p>masalah dengan komunikasi baik baik. sekali lagi, makasih sudah hadir, sudah mau membuka pintu buat aku masuk, sudah berani untuk
				membuka pintu hatiku.</p>
			</div>

			<div id ="content">
				<p>mari kita melangkah Bersama menuju 1 tahun</p> 
				<p>i love you lim x --> 0</p>
			</div>
		</div>
	</section>

	<!-- <div id = "content_6">
		<audio controls autoplay>
			<source src="music/Tattooed Heart.m4a" type="audio/m4a">
		</audio>
	</div> -->
</body>
</html>